.main-header {
  background: #222831;
  color: #eee;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65px;

  overflow: hidden;

  z-index: 200;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;

}

.main-header h1 {
  font-size: 1.4rem;
}

.main-header__menu i {
  font-size: 2rem;
}

.main-header__menu i:hover {
  color: #d65a31;
}